### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [4]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_excel('SensorData.xlsx')
flow = pd.read_csv('FlowRawData.csv')

In [5]:
minutes = []

for i in range(0, len(flow)):
    minutes.append(float(flow['Time'][i].split(':')[1]))
    
flow['Min'] = minutes
seconds = []

for i in range(0, len(flow)):
    seconds.append(float(flow['Time'][i].split(':')[2]) + (float(flow['Min'][i]) * 60))
    
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.drop('Min', inplace = True, axis = 1)
flow.columns = ['Flow', 'Time']
flow.head()

    Flow       Time
0  0.133  1904.9496
1  0.133  1904.9501
2  0.133  1904.9506
3  0.133  1904.9511
4  0.100  1904.9516

In [6]:
df.head()

,Unnamed: 0,Sensor 1,Sensor 2,Sensor 3,Sensor 4,d_Sensor 1,d_Sensor 2,d_Sensor 3,d_Sensor 4,timeTracker
0,0,0.488485,0.454545,0.454545,0.464242,0.000000,0.000000,0.000000,0.000000,1.572892e+09
1,1,0.488485,0.452121,0.454545,0.466667,0.000000,-0.117997,0.000000,0.117997,1.572892e+09
2,2,0.478788,0.444825,0.449697,0.465856,-0.340005,-0.370207,-0.170002,0.039061,1.572892e+09
3,3,0.473834,0.441127,0.450922,0.456930,-0.416107,-0.377947,-0.066729,-0.277738,1.572892e+09
4,4,0.470851,0.437909,0.451656,0.458439,-0.381643,-0.366353,-0.021175,-0.100246,1.572892e+09

In [113]:
# export_csv = finalFlow.to_csv(r'/Users/mikefurr/Documents/Raw_Data/FlowData.csv', header = True, index = None)

In [7]:
timeSeconds = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    seconds = float(t.split(':')[2])
    minutes = float(t.split(':')[1])
    timeSeconds.append(seconds + (minutes * 60))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time'] = timeSeconds
df.drop('Unnamed: 0', inplace = True, axis = 1)
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'time']

In [8]:
df.head()

,1,2,3,4,d1,d2,d3,d4,time
0,0.488485,0.454545,0.454545,0.464242,0.000000,0.000000,0.000000,0.000000,1907.680655
1,0.488485,0.452121,0.454545,0.466667,0.000000,-0.117997,0.000000,0.117997,1907.690928
2,0.478788,0.444825,0.449697,0.465856,-0.340005,-0.370207,-0.170002,0.039061,1907.700434
3,0.473834,0.441127,0.450922,0.456930,-0.416107,-0.377947,-0.066729,-0.277738,1907.709932
4,0.470851,0.437909,0.451656,0.458439,-0.381643,-0.366353,-0.021175,-0.100246,1907.719446

In [116]:
# export_csv = df.to_csv(r'/Users/mikefurr/Documents/Raw_Data/SensorData.csv', header = True, index = None)